{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Enter the root directory for this application:{% endblock %}</h1>

<form method="get">
    <div class="form-group">
        <label for="path">Root directory</label>
        <input type="text" name="root"
               class="form-control"
               value="{{ request.form['root'] }}"></input>
    </div>

    <div class="form-group">
        <button type="enter" class="btn btn-primary">Enter</button>
    </div>
</form>
{% endblock %}